passlib==1.7.4
Flask==1.1.4
Flask-RESTful==0.3.9
Flask-JWT==0.3.2
Flask-SQLAlchemy==2.4.4
uwsgi==2.0.21
psycopg2==2.9.5
flask_jwt_extended
sqlalchemy-citext
SQLAlchemy==1.4.0
Jinja2==3.0.3
bcrypt==4.0.1
Flask-JWT-Extended==3.24.1
Flask-Bcrypt==1.0.1
PyJWT==1.7.1